In [1]:
import os
import json as js
import pandas as pd

f = open('kaggle.json')
data = js.load(f)

for key, value in data.items():
    if key == 'username':
        username = value
    if key == 'key':
        keys = value
f.close()

# Set Kaggle environment variables
os.environ['KAGGLE_USERNAME'] = username
os.environ['KAGGLE_KEY'] = keys

# Check for zip file existence
path_to_zip_file = 'ckdisease.zip'
if os.path.exists(path_to_zip_file):
    print('zip file exists, so it will be used directly\n')
else:
    print('zip file does not exist, so the file will be downloaded')
    !kaggle datasets download -d mansoordaku/ckdisease


df = pd.read_csv(path_to_zip_file)

rows,columns = df.shape
print('Rows: ',rows,'\nColumns: ',columns)

# Describing Datas  
df.describe()

zip file exists, so it will be used directly

Rows:  400
Columns:  26

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000